* {
    /* outline: 1px solid black; */
    font-family: 'Roboto Mono', monospace;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-flow: row ;
    flex-wrap: ;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 30px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    max-width: 500px;
}

a,.thumbnail {
    transition: 0.25s;
    cursor: pointer;
}

nav a {
    background-color: white;
    color: #003B4D;
    text-decoration: none;
    margin: 0;
    padding: 7px 15px;
    width: 25%;
    text-align: center;
    font-size: 12px;
    outline: 2px solid #003B4D;
}

nav a:hover {
    background-color: #003B4D;
    color: white;
}

.current {
    background-color: #003B4D;
    color: white;
}

h2 {
    color: #003B4D;
}

#hero {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    height: 50vw;
    max-height: 500px;
}

#hero .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(https://picsum.photos/1024);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    width: 83vw;
}

h1 {
    font-size: xxx-large;
    color: white;
}

#hero a {
    background-color: white;
    padding: 10px 20px;
    color: #003B4D;
    text-decoration: none;
    outline: 2px solid #003B4D;
}

#hero a:hover {
    background-color: rgba(0, 0, 0, 0.3);;
    color: white;
    outline: 2px solid white;
}

#projectThumbnails {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.thumbnail {
    margin: 1vw 2vw;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: #003B4D;
}

.thumbnail img {
    width: 25vw;
    height: 20vw;
}

.thumbnail:hover img {
    outline: 2px solid #003B4D;
}

.thumbnail:hover p {
    font-weight: bold;
}

footer {
    background-color: #003B4D;
    margin-top: 50px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#social {
    margin: 10px 0;
}

#social a {
    color: white;
    text-decoration: none;
}

#social a:hover {
    text-decoration: underline;
}

#contactMe {
    background-color: white;
    padding: 10px 20px;
    color: #003B4D;
    text-decoration: none;
}

#contactMe:hover {
    background-color: #003B4D;
    color: white;
    outline: 2px solid white;
}


